@import "tailwindcss";

:root {
  /* colors */
  --brand: #2563eb;
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #f7f8fa;
  --neutral: #757575;
  /* Typograph */
  --text-large: 20px;
  --text-medium: 16px;
  --text-regular: 14px;
  --text-caption: 12px;
  --font-poppins: "Poppins";
  /* others */
  --card-radius: 10px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-neutral: var(--neutral);
  --color-card-background: var(--card-background);
  --text-large: var(--text-large);
  --text-medium: var(--text-large);
  --text-regular: var(--text-regular);
  --text-caption: var(--text-caption);
  --font-poppins: var(--font-poppins);
  --radius-card-redius: var(--card-radius);
  
}

/* BASE STYLE */
@layer base {
  body {
    @apply bg-background text-foreground font-poppins;
  }
}
